.cart-item img{
    width: 250px;
    height: 200px;
    
}
.cart-item{
    margin-left: 30px;
    margin-bottom: 50px;
    width: 250px;
    
    
}
.cart-item h5{
    padding-top: 10px;
    text-align: center;
}
.space{
    width: 250px;
    height: 60px;
    background-color: lightgray;
    
}
#pace-link{
    text-decoration: none;
}

/* p:nth-child(odd) {
    background: red;
  }
  
  p:nth-child(even) {
    background: blue;
  } */

/* #cart-container{
    padding-left: 100px;
} */
